// @import "bootstrap.min.css";
// @import "font-awesome.css"; 
@import "../scss/__mixins";
@import "../scss/__media-queries";
@import "../scss/__colors";
@import "../scss/__fonts";
@import "../scss/__buttons";
@import "../scss/__footer";
@import "../scss/__header";
@import "../scss/__boxes-footer";
@import "../scss/__helpers";
// @import "../scss/__popup";

//MiCare
@import "../scss/landing/page-title-home-section";


@import "../scss/landing/hero-section";
@import "../scss/landing/about-us-section";
@import "../scss/landing/fun-fact-section";

@import "../scss/landing/how-we-work-section";
@import "../scss/landing/work-we-done-section";
@import "../scss/landing/cta-section";
@import "../scss/landing/team-doctors-section";

@import "../scss/landing/pricing-section";

//general settings
@import "../scss/settings/general-animation";
@import "../scss/settings/prohealth-general-settings";



@import "../scss/_popup";
@import "../scss/_video-popup";


@import "../scss/home-page/section-a";
@import "../scss/home-page/section-b";
@import "../scss/home-page/section-c";
@import "../scss/home-page/section-d";
@import "../scss/home-page/section-e";
@import "../scss/home-page/section-f";
@import "../scss/home-page/section-g";
@import "../scss/home-page/section-h";
@import "../scss/home-page/section-i";

@import "../scss/blocks-interior/___general-blocks";
// @import "../scss/blocks-interior/__newsroom";
@import "../scss/blocks-interior/__carousel-testimonials";
// @import "../scss/blocks-interior/__campaing";
// @import "../scss/___general-blocks";


@import "../scss/blocks-interior/_text-media";
// @import "../scss/blocks-interior/_accordion-block";
@import "../scss/blocks-interior/_media-outside";

@import "../scss/_accordion";
// @import "../scss/_ajaxsearch-plugin";
// @import "../scss/_breadcrumbs";
// @import "../scss/_form-ThemeMyLogin";
// @import "../scss/_gTranslate";
// @import "../scss/_gravityForm-default";
// @import "../scss/_gravityForm-sign-up";
// @import "../scss/_interior-banner";
// @import "../scss/_interior-comments";
// @import "../scss/_interior-ctgry-blog";
// @import "../scss/_interior-ctgry-resources";
// @import "../scss/_interior-pages";
// @import "../scss/_interior-section-ads";
@import "../scss/_page-404";
@import "../scss/_pagination";
// @import "../scss/_paid-membership-pro";
@import "../scss/_search-page";
// @import "../scss/_single-blog";
// @import "../scss/_social-networks";
@import "../scss/_sponsors-views";
// @import "../scss/_team-bios";
// @import "../scss/_unite-gallery";


$selector_color: $primary;


body{

	@include font1;
	font-size: 16px;
	line-height: 1.19;

	h1, h2, h3, h4, h5, h6, p, a{
		// overflow-wrap: break-word;
		// word-wrap: break-word;
		// /* Adds a hyphen where the word breaks */
		// -webkit-hyphens: auto;
		// -ms-hyphens: auto;
		// -moz-hyphens: auto;
		// hyphens: auto;
	}

	h1, .h1{
		@include font2;
		font-size: 33px;
		font-weight: bold;
		font-stretch: normal;
		font-style: normal;
		line-height: 1.09;
		letter-spacing: normal;
		margin-bottom: 31px;

	}

	h2, .h2{
		@include font2;
		font-size: 30px;
		font-weight: bold;
		font-stretch: normal;
		font-style: normal;
		line-height: 1.09;
		letter-spacing: normal;
		margin-bottom: 35px;
	}

	h3, .h3{
		@include font2;
		font-size: 28px;
		font-weight: bold;
		font-stretch: normal;
		font-style: normal;
		line-height: 1.23;
		letter-spacing: normal;
		margin-bottom: 25px;

	}

	h4, .h4{
		@include font2;
		font-size: 24px;
		font-weight: bold;
		font-stretch: normal;
		font-style: normal;
		line-height: 1.21;
		letter-spacing: normal;
		margin-bottom: 29px;
	}

	h5, .h5{
		@include font2;
		font-size: 22px;
		font-weight: bold;
		font-stretch: normal;
		font-style: normal;
		line-height: 1.23;
		letter-spacing: normal;
		margin-bottom: 28px;
	}

	h6, .h6{
		@include font2;
		font-size: 19px;
		font-weight: bold;
		font-stretch: normal;
		font-style: normal;
		line-height: 1.21;
		letter-spacing: normal;
		margin-bottom: 27px;
	}

	p{
		@include font1;
		font-size: 16px;
		font-weight: normal;
		font-stretch: normal;
		font-style: normal;
		line-height: 1.19;
		letter-spacing: normal;
		margin-bottom: 1rem;
	}

	a{
		color: $link;
		&:hover{
			color: $linkDark;
		}

		&:visited{
			// color: gray;
		}
	}

	li{
		@include font1;
		font-size: 16px;
		font-weight: normal;
		font-stretch: normal;
		font-style: normal;
		line-height: 1.19;
		letter-spacing: normal;
	}
	
}

/*Heading's Size Variables*/

// TABLET

$h1_tablet_font-size: 52px;
$h1_tablet_line-height: 1.02;
$h1_tablet_letter-spacing: normal;

$h2_tablet_font-size: 40px;
$h2_tablet_line-height: 1.05;
$h2_tablet_letter-spacing: normal;

$h3_tablet_font-size: 38px;
$h3_tablet_line-height: 1.09;
$h3_tablet_letter-spacing: normal;

$h4_tablet_font-size: 30px;
$h4_tablet_line-height: 1.04;
$h4_tablet_letter-spacing: normal;

$h5_tablet_font-size: 28px;
$h5_tablet_line-height: 1.23;
$h5_tablet_letter-spacing: normal;

$h6_tablet_font-size: 18px;
$h6_tablet_line-height: 1.26;
$h6_tablet_letter-spacing: normal;

$body_tablet_font-size: 16px;
$body_tablet_line-height: 1.19;


// DESKTOP

$h1_desktop_font-size: 60px;
$h1_desktop_line-height: 0.83;
$h1_desktop_letter-spacing: normal;

$h2_desktop_font-size: 48px;
$h2_desktop_line-height: 0.9;
$h2_desktop_letter-spacing: normal;

$h3_desktop_font-size: 38px;
$h3_desktop_line-height: 1.24;
$h3_desktop_letter-spacing: normal;

$h4_desktop_font-size: 30px;
$h4_desktop_line-height: 1.23;
$h4_desktop_letter-spacing: normal;

$h5_desktop_font-size: 28px;
$h5_desktop_line-height: 1.21;
$h5_desktop_letter-spacing: normal;

$h6_desktop_font-size: 18px;
$h6_desktop_line-height: 1.22;
$h6_desktop_letter-spacing: normal;

$body_desktop_font-size: 16px;
$body_desktop_line-height: 1.47;








// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { 
	
	
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { 
	body{

		h1, .h1{
			font-size: $h1_tablet_font-size;
			line-height: $h1_tablet_line-height;
			letter-spacing: $h1_tablet_letter-spacing;
	
		}
	
		h2, .h2{
			font-size: $h2_tablet_font-size;
			line-height: $h2_tablet_line-height;
			letter-spacing: $h2_tablet_letter-spacing;
		}
	
		h3, .h3{
			font-size: $h3_tablet_font-size;
			line-height: $h3_tablet_line-height;
			letter-spacing: $h3_tablet_letter-spacing;
	
		}
	
		h4, .h4{
			font-size: $h4_tablet_font-size;
			line-height: $h4_tablet_line-height;
			letter-spacing: $h4_tablet_letter-spacing;
		}
	
		h5, .h5{
			font-size: $h5_tablet_font-size;
			line-height: $h5_tablet_line-height;
			letter-spacing: $h5_tablet_letter-spacing;
		}
	
		h6, .h6{
			font-size: $h6_tablet_font-size;
			line-height: $h6_tablet_line-height;
			letter-spacing: $h6_tablet_letter-spacing;
		}
	
		p{
			font-size: $body_tablet_font-size;
			line-height: $body_tablet_line-height;
		}

		li{
			font-size: $body_tablet_font-size;
			line-height: $body_tablet_line-height;
		}
		
	}
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { 
	
}

// Extra large devices (large desktops, 1200px and up)
// @media (min-width: 1200px) { 
// 	body{

// 		h1, .h1{
// 			font-size: $h1_desktop_font-size;
// 			line-height: $h1_desktop_line-height;
// 			letter-spacing: $h1_desktop_letter-spacing;
	
// 		}
	
// 		h2, .h2{
// 			font-size: $h2_desktop_font-size;
// 			line-height: $h2_desktop_line-height;
// 			letter-spacing: $h2_desktop_letter-spacing;
// 		}
	
// 		h3, .h3{
// 			font-size: $h3_desktop_font-size;
// 			line-height: $h3_desktop_line-height;
// 			letter-spacing: $h3_desktop_letter-spacing;
	
// 		}
	
// 		h4, .h4{
// 			font-size: $h4_desktop_font-size;
// 			line-height: $h4_desktop_line-height;
// 			letter-spacing: $h4_desktop_letter-spacing;
// 		}
	
// 		h5, .h5{
// 			font-size: $h5_desktop_font-size;
// 			line-height: $h5_desktop_line-height;
// 			letter-spacing: $h5_desktop_letter-spacing;
// 		}
	
// 		h6, .h6{
// 			font-size: $h6_desktop_font-size;
// 			line-height: $h6_desktop_line-height;
// 			letter-spacing: $h6_desktop_letter-spacing;
// 		}
	
// 		p{
// 			font-size: $body_desktop_font-size;
// 			line-height: $body_desktop_line-height;
// 		}

// 		li{
// 			font-size: $body_desktop_font-size;
// 			line-height: $body_desktop_line-height;
// 		}

// 		h1, h2, h3, h4, h5, h6{
// 			// text-transform: uppercase;
// 		}
		
// 	}
// }

body.home{

	

	// Small devices (landscape phones, 576px and up)
	@media (min-width: 576px) { 
		
	}

	// Medium devices (tablets, 768px and up)
	@media (min-width: 768px) { 
		
	}

	// Large devices (desktops, 992px and up)
	@media (min-width: 992px) { 
		
	}

	// Extra large devices (large desktops, 1200px and up)
	@media (min-width: 1200px) { 
		
	}
}

// .loader-container{
	
// 	position: fixed;
// 	width: 100vw;
// 	height: 100vh;
// 	display: flex;
// 	align-items: center;
// 	justify-content: center;
// 	z-index: 999999;

// 	&.exit{
// 		-webkit-animation: fade-out 1s ease-out 0s both;
// 	        animation: fade-out 1s ease-out 0s both;
// 	}

// 	&::before{
// 		content: '';
// 		display: block;
// 		width: 100%;
// 		height: 100%;
// 		background: white;
// 		position: absolute;
// 		top: 0;
// 		left: 0;
// 	}
// }

// .loader {
// 	border: 16px solid #f3f3f3; /* Light grey */
// 	border-top: 16px solid $primary; /* Blue */
// 	border-radius: 50%;
// 	width: 120px;
// 	height: 120px;
// 	animation: spin 1s linear infinite;
// 	position: absolute;
// 	top: calc(50% - 60px);
// 	left: calc(50% - 60px);
// 	// @include center(-50%, -50%);

	
// }

@keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}

@-webkit-keyframes fade-out {
	0% {
	  opacity: 1;
	}
	100% {
	  opacity: 0;
	}
}
@keyframes fade-out {
	0% {
	  opacity: 1;
	}
	100% {
	  opacity: 0;
	}
}



a.fe_btn_navigation{
	background-color: $primary !important;
	border: none !important;
	font-family: 'Montserrat', sans-serif !important;    
	font-size: 16px !important;
	font-weight: bold !important;
	border-radius: 7px;
	padding: 16px 28px;
	line-height: 1;
	text-transform: none;
	&:hover{
		background-color: $secondary !important;
	}
}
.wpcw_fe_navigation_box{
	padding:20px;
	a{
		margin: 0 10px;
	}
}
.ui-loader.ui-corner-all.ui-body-a.ui-loader-default{
	display: none;
}

.container{
	transition: 0.4s;
}

.social-bar{
    .content-wrap{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin: 25px 0;
    }
    .social-share{
        p{
            font-size: 20px;
            color: $primary;
            font-weight: 700;
            display: inline-block;
            @include font2;
            margin: 0;
            strong{
                color: $tertiary;
                font-weight: 700;
            }
        }
        .addtoany_shortcode{
            display: inline-block;
            .a2a_kit{
                a{
                    span{
                        background: transparent !important;
                        color: $primary !important;
                        width: 24px!important;
                        height: 24px !important;
                        svg{
                            path{
                                fill: $primary !important;
                            }
                        }
                    }
                }
            }
        }
    }
}

.a2a_menu {
    background-color: $primaryLight !important;
    border-color: $primaryLight !important;
}

body.single {
	.a2a_menu a, .a2a_menu a.a2a_i, .a2a_menu a.a2a_i:visited, .a2a_menu a.a2a_more, i.a2a_i{
		border-color: $primaryLight !important;
	}

}

.interior-page .entry-content{
	.addtoany_content{
		.a2a_kit{
			a{
				span{
					background: transparent !important;
					color: $primaryDark !important;
					width: 24px!important;
					height: 24px !important;
					svg{
						path{
							fill: $primaryDark !important;
						}
					}
				}
			}
		}
	}
	
	.a2a_kit{
		a, a.a2a_dd{
			span{
				background: transparent !important;
				color: $primaryDark !important;
				width: 24px!important;
				height: 24px !important;
				svg{
					path{
						fill: $primaryDark !important;
					}
				}
			}
		}
	}
	
	
	
	.addtoany_shortcode{
		display: inline-block;
		.a2a_kit{
			a{
				font-family: 'Montserrat', sans-serif !important;     
				background: transparent;
				border-radius: 30px;
				border: 2px solid $primary !important;
				// border: none;
				color: $primary !important;
				display: inline-block;
				font-size: 1rem !important;
				letter-spacing: normal;
				font-weight: 500 !important;
				margin:0 auto; 
				padding: .99rem  1.7777777777777777rem;
				min-width: 175px;
				position: relative;
				text-align: center;
				text-decoration: none !important;
				text-transform:  uppercase;
				transition:0.4s;
				outline: none !important;
				overflow: hidden;
				line-height: 1.19;
				&:hover,&:focus,&:active{
					text-decoration: none !important;
					background: $primary;
					border-color: $primary;
					color: white !important;
					&:after{
						margin-left: 25px;
					}
					&:before{
						width: 100%;
					}
				}
			}
		}
	}

}

main{
	// overflow: hidden;
}
body{
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	main[role="main"]{
		overflow: hidden;
		position: relative;
	}
}

html.csstransformspreserve3d.translated-ltr{
	#NavDropdown ul li, #NavDropdown ul li.open{
		padding: 0px 7px;
	}
	#NavDropdown ul li a, #NavDropdown ul li.open a{
		font-size: 13px;
	}
	#NavDropdown ul li.btn-member > a, #NavDropdown ul li.open.btn-member > a{
		font-size: 13px;
	}
	.sign-up-form .gform_wrapper .gform_body, .sign-up-form .newsletterForm_wrapper .gform_body{
		width: calc(100% - 130px);
	}
}

.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0,0,0,0);
	border: 0;
}

#gtranslate_wrapper{
	right: 4% !important;
	bottom: 32px !important;
	.switcher {
		.selected {
			background: transparent;
			a{
				border-radius: 49.5px;
				border: solid 1.5px $gray;
				background: white;
				font-size: 14px;
				font-weight: bold;
				padding: 8px 18px;
				font-stretch: normal;
				font-style: normal;
				line-height: normal;
				letter-spacing: normal;
				color: $primaryDark;
				width: auto;
				text-align: center;
			}
		}
		.option{
			background-color: transparent;
			border: none;
			a{
				padding: 8px 18px;
				color: $primaryDark;
				text-align: center;
			}
		}

	}
}


.social-networks a i, .social-networks a svg[class^="fa"], .social-networks a svg[class^="fas"], .social-networks a .svg-inline--fa, .social-networks li i, .social-networks li svg[class^="fa"], .social-networks li svg[class^="fas"], .social-networks li .svg-inline--fa, .social-networks li a i, .social-networks li a svg[class^="fa"], .social-networks li a svg[class^="fas"], .social-networks li a .svg-inline--fa{
	font: normal normal normal 14px/1 FontAwesome;
	font-family: "Font Awesome 5 Pro";
	font-family: "Font Awesome 5 Free";
	font-weight: 900;
	font-size: inherit;
	text-rendering: auto;
}


/**************************************************
	Useful CSS on Theme
**************************************************/

.image-wrapping, .image-post-thumb, .post-image-css{
	padding-top: 85%;
	img , .wrapped-image{  
		@include center(-50%,-50%);
		position: absolute;
		left: 50%;
		top: 50%;
		width: 100%;  
		height: 100%;
		object-fit: cover;
	}
	.photo-credit{
		//margin: 0 auto;
		//right: 0;
		@include font1;
		bottom: 10px;
		color:#999999 !important;
		font-family: Helvetica;
		font-size: 11px;
		font-stretch: normal;
		font-style: normal;
		font-weight: bold;
		left: 20px;
		letter-spacing: normal;
		line-height: normal;
		position: absolute;
		text-align: left;
		width: 90%;
		z-index: 2;
		&.center{
			text-align: center !important;
		}
	}
}

.title-section{
	margin-bottom: 60px;
	h2,h3{
		@include font1;
		display: inline-block;
		font-size: 50px;
		font-stretch: normal;
		font-style: normal;
		font-weight: 800;
		letter-spacing: -0.89px;
		letter-spacing: normal;
		line-height: 0.94;
		margin: 0;
		position: relative;
	}
	&.center{
		text-align: center;
		position: relative;
	}
	&.left{
		text-align: left;
		position: relative;
	}
	&.right{
		text-align: right;
	}
}
.bottom-link-section{
	display: block;
	//margin-top: 40px;
	&.left{
		text-align: left;
	}
	&.right{
		text-align: right;
	}
	&.center{
		margin: 40px auto;
		text-align: center;
	}
	@media(max-width: 767){
		text-align: center !important;
	}
}

.top-section{
	margin-bottom: 50px;
	h2, .view-all > a{
		font-stretch: normal;
		font-style: normal;
		font-weight: bold;
		letter-spacing: normal;
		line-height: normal;
	}
	h2{
		font-size: 36px;
		color: $primary;
	}
	.view-all > a{	
		position: relative;
		&::after{
			content: "";
			background-image: url('../images/icons/arrow-right.svg');
			background-size: contain;
			background-repeat: no-repeat;
			right: 0;
			margin-left: 12px;
			position: relative;
			padding-left: 10px;
			transition: all 0.4s ease;
			display: inline-block;
			width: 12px;
			height: 9px;
		}
		&:hover{
			text-decoration: none;
			&::after{
				right: -7px;
			}
		}
	}
}

.right-side{
	position: relative;
	.outside-container{
		height: 100%;
		left: 0;
		overflow: hidden;
		padding: 0;
		position: absolute;
		right: calc((100vw - 1100px)/(-2));
		top: 0;
		width: calc(100% + ((100vw - 1100px)/(2)));
		z-index: 40;
	}
}
.left-side{
	position: relative;
	.outside-container{
		height: 100%;
		left: calc((100vw - 1100px)/(-2));
		overflow: hidden;
		padding: 0;
		position: absolute;
		right: 0;
		top: 0;
		width: calc(100% + ((100vw - 1100px)/(2)));
		z-index: 40;
	}
}

.container-text {
	padding: 0 10%;
	&.center{
		text-align: center;
	}
	@media(max-width: 1200){
		padding: 0 15px;
	}
}

.container-frame-diagonal{
	//height: calc(100% + 200px);
	@include rotate(10deg);
	background-color: #ffffff;
	height: 180%;
	left: 7%;
	overflow: hidden;
	position: absolute;
	top: -30%;
	width: 100%;
	.frame-diagonal{
		@include center(-50%,-50%);
		left: 50%;
		position: absolute;
		top: 50%;
		width: 100%;
		height: 100%;
		img{					
			-webkit-transform-origin: bottom;
			-ms-transform-origin: bottom;
				transform-origin: bottom;
		 -webkit-transform: translate(-50%, -50%) rotate(-10deg) ;
				-ms-transform: translate(-50%, -50%) rotate(-10deg) ;
					transform: translate(-50%, -50%) rotate(-10deg) ;
			height: auto;
			left: 51%;
			margin-top: -60px;
			max-width: 100%;
			min-height: inherit;
			position: absolute;
			top: 50%;
			width: auto;				
		}
	}
}

.frame-image{
	background-color: #ffffff;
	box-shadow: -4px 3px 13px 0 rgba(33, 33, 33, 0.25);
	height: auto;
	padding: 23px; 
	figure{
		background-position: 50% 50%;
		background-repeat: no-repeat;
		background-size: cover;
		height: auto;
		margin: 0 !important;
		object-fit: contain;
		padding-bottom: 75%;
	}
}

/**************************************************
	Useful CSS Homepage/Page/Template
**************************************************/
/**************************************************
	general CSS overwriting
**************************************************/
html,body{
	-webkit-font-smoothing: subpixel-antialiased;
	figure{
		// margin-bottom: 0 !important;
	}  
	.selector-for-some-widget {
		box-sizing: content-box;
	}
}
/**************************************************
	general CSS overwriting
**************************************************/

/* Media queries----------------------------------*/
@include mediaqueries(1200max) {
	.right-side .outside-container{
		right: calc((100vw - 940px)/(-2));
		width: calc(100% + ((100vw - 940px)/(2)));
	}
	.left-side .outside-container{
		left: calc((100vw - 940px)/(-2));
		width: calc(100% + ((100vw - 940px)/(2)));
	}

	#gtranslate_wrapper {
	
		right: 4% !important;
		bottom: 92px !important;
	
	}
}
@include mediaqueries(991max) {
	.right-side .outside-container{
		right: calc((100vw - 700px)/(-2));
		width: calc(100% + ((100vw - 700px)/(2)));
	}
	.left-side .outside-container{
		left: calc((100vw - 690px)/(-2));
		width: calc(100% + ((100vw - 690px)/(2)));
	}
	
	
	body.logged-in{
		// padding-top: 46px;
		header.fixed-top{
			top: 46px;
		}
	}
}
@include mediaqueries(767max) {
	.right-side .outside-container{
		right: calc((100vw - 524px)/(-2));
		width: calc(100% + ((100vw - 524px)/(2)));
	}
	.left-side .outside-container{
		left: calc((100vw - 524px)/(-2));
		width: calc(100% + ((100vw - 524px)/(2)));
	}
}
@include mediaqueries(576max) {
	#gtranslate_wrapper{
		position: relative !important;
		bottom: 0 !important;
		left: 0;
		right: 0 !important;
		text-align: center;
		margin: 0 auto;
		display: flex;
		justify-content: center;
		padding: 30px;
	}

	body #wpadminbar, body.single #wpadminbar {
        top: -46px !important;
	}

    html.csstransformspreserve3d{
        // margin-top: 0 !important;
    }
}

