.section-g{
	padding: 48px 0;
	position: relative;
	background: black;
	color: white;

	.container{
		position: relative;
		z-index: 5;
	}

	h2{
		@include font2;
		font-size: 28px;
		font-weight: normal;
		font-stretch: normal;
		font-style: normal;
		line-height: 1;
		letter-spacing: -0.28px;
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;
		margin-bottom: 27px;

		&::before{
			content: '';
			display: none;
			width: 57px;
			height: 2px;
			background: $primary;
			position: relative;
			margin-right: 20px;
		}

		&::after{
			content: '';
			display: none;
			width: 57px;
			height: 2px;
			background: $primary;
			position: relative;
			margin-left: 20px;
		}
	}

	a.d-block{
		text-decoration: none;
	}

	.card{
		background: transparent;
		border: none;
		border-radius: 0;
	}

	.card-body{
		display: flex;
		flex-direction: column;
	}

	.img-wrap{
		width: 126px;
		height: 126px;
		margin: 0 auto 20px;

	}

	.card-text{
		p{
			font-size: 16px;
			font-weight: normal;
			font-stretch: normal;
			font-style: normal;
			line-height: 1.38;
			letter-spacing: normal;
			color: white;
		}
	}
	.link{
		span{
			width: 100%;
		}
	}
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { 
	
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { 
	.section-g h2{
		&::before, &::after{
			display: block;
		}
	}
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { 
	.section-g h2{
		font-size: 52px;
		margin-bottom: 67px;
	}

	.section-g{
		background: url('../images/bg-g.jpg');
		background-color: black;
		background-size: cover;
		&:before{
			opacity: 0.83;
			  background-color: black;
			  z-index: 1;
		}
	}

	.section-g .card-text{
		margin-bottom: 36px;
	}

	.section-g .link{
		margin-top: auto;
	}

	.section-g{
		padding: 82px 0;
	}
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { 
	
}

