.section-d{
	position: relative;
	padding: 35px 0;
	color: black;
	background: white;

	h2{
		@include font2;
		font-size: 28px;
		font-weight: normal;
		font-stretch: normal;
		font-style: normal;
		line-height: 1;
		letter-spacing: -0.28px;
		color: black;
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;
		margin-bottom: 27px;

		&::before{
			content: '';
			display: none;
			width: 57px;
			height: 2px;
			background: $primary;
			position: relative;
			margin-right: 20px;
		}

		&::after{
			content: '';
			display: none;
			width: 57px;
			height: 2px;
			background: $primary;
			position: relative;
			margin-left: 20px;
		}
	}
	
	.img-wrap{
		border-radius: 0;
		margin: 0;
		width: 100vw;
		height: 269px;
		margin-left: calc((100vw - 100%)/ -2);
	}

	.link{
		display: flex;
		align-items: center;
		justify-content: center;
		flex-wrap: wrap;
		a{
			margin: 8px;
		}
	}

}


// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { 
	
	
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { 
	.section-d h2{
		&::before, &::after{
			display: block;
		}
	}

	.section-d .img-wrap{
		width: 100%;
		margin-left: 0;
	}
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { 
	.section-d .img-wrap{
		height: 428px;
	}

	.section-d h2{
		font-size: 52px;
	}
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { 
	
}
